/* PAGE STYLES */

.landing-container {
    display: block;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    color: white;
}


/* SECTIONS STYLES */

.landing-section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10%;
}

.landing-section-title {
    color: white;
    margin: 50px 0px 25px;
    text-align: center;
    width: 100%;
}

.landing-section-paragraph {
    text-align: left;
}


/* MAIN SECTION STYLES */

.main-section-container {
    width: 90vw;
    max-width: 600px;
    z-index: 1;
}

.main-section-details-container {
    margin: 25px 0;
}

#slogan {
    margin-bottom: 12.555px;
    color: var(--shell-light-brown);
    line-height: 100%;
    font-size: 1.6em;
}

.main-section-details-specific {
    color: var(--shell-light-brown);
    font-size: 1.3em;
    line-height: 1.1em;
}

.main-section-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.main-section-buttons-container .submit-button {
    min-width: 40%;
}


/* SHELL INFO STYLES */

.shell-info-section-container {
    align-self: baseline;
}

.shell-info-section-content {
    width: 60%;
    float: right;
}


/*LEARNING TRACKS */

.track-section-container {
    width: 100%;
}

.track-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
}

.track-card-container {
    width: 33.33333%;
    max-width: 330px;
    height: auto;
    padding: 5% 4%;
}

.track-card-container .tech-detail {
    text-align: left;
    font-size: 1em;
}

.track-card-item-description {
    text-align: center;
    margin: 0 0 12.555px;
}

.track-icon {
    width: 80%;
    margin: 10px;
}

.scrollContainer {
    height: 500px;
}

.faq-card-container {
    width: 100%;
}

.shell-icon {
    height: 20px;
    width: 20px;
    margin: 0 5%;
}

.shell-and-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15%;
}

.shell-and-info.li {
    list-style-image: url("../../assets/frontpage/shell.svg");
}


/* SPONSOR */

.sponsors-container {
    width: 100%;
    height: 100%;
}

.host-section-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.sponsor-logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.element-hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.temp-img {
    width: 33.333%;
    padding: 10px;
}

.sponsor-img {
    width: 25%;
    padding: 8px;
}

.partner-img {
    width: 18%;
    padding: 5px;
}


/* SCHEDULE SECTION */

.schedule-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.schedule-button-container-mobile {
    display: none;
}

.schedule-section-event {
    text-align: left;
    margin: 25px 15px 50px;
}

.schedule-section-event-title {
    font-weight: 600;
    font-size: var(--heading);
    color: white;
}

.schedule-section-event-description {
    font-size: var(--sub-heading);
}


/* SPONSORS SECTION */

.sponsors-container {
    width: 100%;
    height: 100%;
}

.organizers-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.organizers-container p {
    width: 40%;
}

.logo-container {
    width: 50%;
    height: auto;
}

.organizer-logo {
    width: 100%;
    height: auto;
    padding: 5%;
}

.hacky-comlumn-reverse-mobile {
    display: none;
}


/* SCHEDULE */

.schedule-container {
    width: 100%;
}

.faqCardContainer {
    width: 80vw;
}

.tracks-container {
    width: 100%;
}

.trackDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.shell {
    height: 30px;
    margin-right: 10%;
    margin-left: 20%;
}

.shell-and-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* THANKS SECTION */

.thanks-conatainer {
    width: 80%;
}

.social-media-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
}

.social-media-container a {
    color: white;
}

.social-media-container .svg-inline--fa {
    margin: 0 8px 15px;
}

.sites-container {
    margin: 40px 0 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.sites-container a {
    text-decoration: none;
    color: white !important;
    width: 30%;
}


/*QUERRIES */

@media only screen and (max-width: 769px) {
    .schedule-button-container {
        display: none;
    }
    .schedule-button-container-mobile {
        display: flex;
        justify-content: space-between;
    }
    .schedule-button-container-mobile .submit-button {
        width: 30%;
    }
    .shell-and-info {
        margin: 0;
    }
    .main-section-buttons-container {
        flex-direction: column;
    }
    .main-section-buttons-container .submit-button {
        width: 70%;
    }
    .main-section-details-specific {
        font-size: 1.1em;
    }
    .main-section-details-creed {
        font-size: 1.6em;
    }
    .shell-info-section-content {
        width: 100%;
    }
    .social-media-container {
        justify-content: flex-start;
        margin-bottom: 5px;
    }
    .thanks-conatainer {
        width: 100%;
    }
    .logo-container {
        width: 80%;
    }
    .organizers-container p {
        width: 100%;
    }
    .organizer-logo {
        margin: 0 0 25px;
        padding: 0;
    }
    .organizers-container {
        flex-direction: column;
        align-items: center;
    }
    .hacky-comlumn-reverse-web {
        display: none;
    }
    .hacky-comlumn-reverse-mobile {
        display: block;
    }
    .partner-img,
    .sponsor-img {
        width: 50%;
    }
    .temp-img {
        width: 100%;
        padding: 5px 5%;
    }
}

@media only screen and (max-width: 900px) {
    .schedule-section-event {
        margin: 10px 10px 25px;
    }
    .landing-section {
        padding: 0 5%;
    }
    .track-card-container {
        width: 50%;
        text-align: -webkit-center;
        margin: 8% 0;
    }
}