.essentials-parking-card-content {
    display: flex;
    flex-direction: column;
}

.arena-info-container {
    display: inline-flex;
    justify-content: space-between;
    margin: 25px 0 50px;
}

.parking-content {
    display: block;
    width: 47.55555%;
}

.arena-maps-image-container {
    width: 47.55555%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arena-maps-image {
    height: auto;
    width: 100%;
}

.item-checklists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-checklists ul {
    list-style-image: none !important;
}

.item-checklists li::before {
    content: "";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-image: url("../../assets/waves/shell.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}

.learning-tracks-container {
    height: 100%;
}

.track-overview {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 50px;
}

.track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-details ul {
    list-style-type: none !important;
    margin: 25px 0 0;
}

.track-details li::before {
    content: "";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 40px;
    background-image: url("../../assets/waves/shell.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}

.essentials-holder-circle {
    width: 40%;
    height: 40%;
    margin-right: 5%;
}

.essentials-container {
    width: 100%;
}

.track-software {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0 50px;
}

.software-button {
    cursor: pointer;
    border: none;
    outline-style: none;
    border-radius: 10px;
    padding: 11px;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    background-color: #50bcbf;
    color: white;
    font-weight: 700;
    margin-bottom: 2%;
}

.align-title-icon {
    justify-content: flex-start;
}

.align-title-icon svg {
    margin: 0 10px 0 0;
}

.essential-item-header {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 0 0.3em;
}

.essential-card {
    display: inline-block;
    width: 45%;
    margin-left: 5%;
}

.essential-lists-container {
    display: flex;
    justify-content: flex-start;
}

@media only screen and (max-width: 500px) {
    .track-overview {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .software-button {
        padding: 10px;
        width: 100%;
        font-size: var(--paragraph) !important;
        font-weight: 600 !important;
        background-color: #50bcbf;
        color: white;
        font-weight: 700;
        margin-bottom: 5%;
    }
    .essential-item-header {
        width: 100% !important;
    }
    .essentials-holder-circle {
        margin: 5%;
    }
    .essential-item-header {
        font-size: var(--sub-heading);
    }
    .arena-info-container {
        flex-direction: column-reverse;
    }
    .arena-info-container div {
        width: 100%;
    }
    .arena-info-container img {
        margin: 25px 0 0;
    }
    .essential-lists-container {
        align-items: center;
        flex-direction: column;
    }
    .essential-card {
        width: 100%;
        margin: 0 0 30px;
    }
}