#field {
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
    font-weight: 500;
    max-width: 335px;
}

#field::placeholder {
    color: #c4baa2;
    font: 500;
}

#submitBtn {
    border: none;
    outline-style: none;
    border-radius: 30px;
    padding: 10px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: white;
    font-weight: 700;
    max-width: 335px;
}

#submitStyle {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%
}
