.regContainer{
    display:  flex;
    flex-direction: row;
    background-image: url("../../imgs/frontpage/Background_Sand.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.detailContainer{
    display: flex;
    flex-direction: column;
    width:40%;
    /* background-image: linear-gradient(pink, #E94F86); */
    background-color: (rgba(211, 211, 211, 0.5));
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background-image: linear-gradient(lightblue, #22C3D5); */
    background-color: (rgba(128, 128, 128, 0.5));
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#signUpBtn{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    width: 120px;
    
}

#logInBtn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    width: 120px;
    
}


#submitBtn{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
}

.logoStyle{
    width: 80%;
    margin-bottom: 80px;
}

#mobileLogo{
   display:none;
}

.formContainer.buttons{
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    display: block;
}


@media only screen and (max-width: 700px){
    .regContainer{
        display:  flex;
        flex-direction: column;
        background: auto;
    }

    .formContainer{
        width: 100%;
    }

    .detailContainer{
        display: none;
        background: none;
    }

    #mobileLogo{
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}