#application,
#application-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.dashboard-page-title {
    font-family: "Montserrat", sans-serif;
    color: #9E8D7D;
}

.application-input-full {
    width: 100%;
    padding: 8px!important;
    border: none;
    outline-style: none;
    background-color: white !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
    max-width: 500;
    border-color: hsl(0, 0%, 80%);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.half-field-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500;
}

.full-field-container {
    max-width: 500;
    width: 100%;
    padding: 5px;
}

.application-input-half {
    width: 48%;
    padding: 8px!important;
    border: none;
    outline-style: none;
    padding: 10px;
    background-color: white !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
    margin: 5px;
    border-color: hsl(0, 0%, 80%);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.application-select-input-half {
    width: 48%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
    margin: 5px!important;
}

.application-select-input-full {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
}

.css-yk16xz-control {
    /* react select library componenents */
    border-radius: 8px!important
}

#application-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input:focus::-webkit-datetime-edit {
    color: #000;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

@media(max-width: 650px) {
    .half-field-container {
        flex-direction: column;
        width: 100%;
    }
    .application-input-half,
    .application-select-input-half {
        width: initial;
    }
}

.input-file+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.input-file:focus+label,
.input-file+label:hover {
    background-color: red;
}

.agreements-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.agreement {
    font-size: 90%;
}

.agreement p {
    margin: 0;
    color: rgb(91, 93, 94);
}

#application-submit-button {
    align-self: center;
    margin: 50px 0 0;
}