@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
:root {
    --shell-dark-pink: #ff1d8e;
    --shell-light-pink: #e86ba4;
    --shell-teal: #22c3d5;
    --shell-navy: #172a61;
    --shell-sand: #fbedca;
    --shell-dark-brown: #665b50;
    --shell-mid-brown: #8e7a69;
    --shell-light-brown: #9e8d7d;
    --waves-speed: 3s;
    --shell-gradient: linear-gradient(#22c3d5, #172a61);
    --heading: 700 2em "monserat", sans-serif;
    --sub-heading: 600 1.3em "monserat", sans-serif;
    --paragraph: 400 16px/1.5em "monserat", sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background: var(--shell-sand);
    color: var(--shell-light-brown);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

* a:hover {
    color: var(--shell-light-pink);
}