.footer-container {
  width: 100%;
  height: 300px;
  background: center/cover no-repeat url("../../assets/footerBackground.svg");
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 3% 10px;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .footer-container {
    height: 60vh;
    background-position: left;
  }
}
