/* CARD */

.card-container {
    padding: 12.5555px 0;
}

.card-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    font: var(--sub-heading);
    font-size: 2em;
    color: white;
}

.card-button:hover {
    cursor: pointer;
}

.card-content {
    padding: 12.5555px;
    text-align: left;
}


/* TEXTINPUT */

.text-input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--shell-sand);
    border-width: 1px;
    width: 100%;
    margin: 0 0 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}


/* BUTTON */

.submit-button {
    min-width: 100%;
    max-width: 250px;
    padding: 12.5555px;
    margin-bottom: 25px;
    border-radius: 40px;
    border: none;
    font-size: 100%;
    font-weight: 600;
    color: white;
    background-color: var(--shell-dark-brown);
}

.submit-button p {
    font-weight: 600;
    text-transform: capitalize;
}

.submit-button:hover {
    cursor: pointer;
    background: var(--shell-mid-brown);
}

.card-button h3,
.card-button h4 {
    line-height: 130%;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* ERROR MESSAGE*/

.error-message {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    margin: 25px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}

.error-message li {
    list-style-position: inside;
    line-height: 130%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.error-message li svg {
    margin: 5px;
}


/* WAVE BACKGROUND */

.wave-background-child {
    z-index: 1;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

#wave-background-objects {
    background: var(--shell-sand);
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.decor {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

#seat1 {
    left: 0;
    width: 400px;
}

#seat2 {
    right: 0;
    width: 320px;
}

#shore {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1920px;
    min-width: 100%;
    z-index: 0;
}

#wetsand,
#surf {
    position: relative;
}

#wetsand>*,
#surf>* {
    position: absolute;
    bottom: -57px;
    left: 0;
    min-width: 100%;
}

@keyframes wetsand3 {
    from {
        bottom: -50px;
    }
    to {
        bottom: -45px;
    }
}

#wetsand3 {
    animation: wetsand3 var(--waves-speed) ease 1.6s infinite alternate;
    bottom: -50px;
}

@keyframes wetsand2 {
    from {
        bottom: -370px;
    }
    to {
        bottom: -40px;
    }
}

#wetsand2 {
    animation: wetsand2 var(--waves-speed) ease 1.5s infinite alternate;
    bottom: -370px;
}

@keyframes wetsand1 {
    from {
        bottom: -390px;
    }
    to {
        bottom: -10px;
    }
}

#wetsand1 {
    animation: wetsand1 var(--waves-speed) ease 1.2s infinite alternate;
    bottom: -390px;
}

@keyframes surf3 {
    from {
        bottom: -280px;
    }
    to {
        bottom: 75px;
    }
}

#surf3 {
    animation: surf3 var(--waves-speed) ease 0.5s infinite alternate;
    bottom: -280px;
}

@keyframes surf2 {
    from {
        bottom: -250px;
    }
    to {
        bottom: 5px;
    }
}

#surf2 {
    animation: surf2 var(--waves-speed) ease 0.3s infinite alternate;
    bottom: -50px;
}

@keyframes surf1 {
    from {
        bottom: -200px;
    }
    to {
        bottom: 0px;
    }
}

#surf1 {
    animation: surf1 var(--waves-speed) ease 0s infinite alternate;
    bottom: 0px;
    z-index: 2;
}


/* GRADIENT BACKGROUND */

.gradient-background {
    all: inherit;
    background: var(--shell-gradient);
}


/* FOOTER */

.footer-container {
    width: 100%;
    height: 300px;
    background: center/cover no-repeat url("../../assets/footerBackground.svg");
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 3% 10px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    color: var(--shell-dark-brown);
}

.footer-content a {
    color: var(--shell-dark-brown);
}

.footer-content p {
    font-size: 14px;
}

.footer-social-container a {
    margin: 5px 5px 5px 0;
    font-size: 22px;
    text-decoration: none;
    color: var(--shell-mid-brown);
    display: inline-flex;
}


/* menu */

.menu {
    color: rgba(255, 255, 255, 0.381);
    display: inline-block;
    position: fixed;
    top: 35%;
    right: 4.5%;
    z-index: 10000;
    font-size: 1.3em;
}

.menu:hover {
    pointer-events: all;
}

.menu a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.menu div {
    margin: 10px;
}

.menu .active {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
    .card-button {
        padding: 20px;
    }
    .card-button h3,
    .card-button h4 {
        font-size: var(--paragraph);
    }
}

@media screen and (max-width: 900px) {
    .menu {
        display: none;
    }
    .footer-container {
        height: 60vh;
        background-position: left;
    }
}