#dashboard {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: var(--shell-gradient);
    background-color: #58d8e6;
    overflow: auto;
}

.dashboard-container {
    padding: 0 10%;
}

@media(min-width: 650px) {
    .dashboard-container {
        float: right;
        width: 80%;
        margin-left: 20%;
        padding-top: 60px;
    }
}

@media(max-width: 650px) {
    .dashboard-container {
        padding-top: 60px;
    }
}