.field {
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline-style: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
    max-width: 335px;
}

.fieldDiv{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.field::placeholder {
    color: #c4baa2;
    font-weight: 500;
}

#loginBtn {
    border: none;
    outline-style: none;
    border-radius: 30px;
    padding: 7px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Montserrat", sans-serif;
    font-size: 120%;
    color: white;
    font-weight: 900;
    max-width: 335px;
    margin-top: 5%;
}

#loginStyle {
    display: flex;
    justify-content: center;
    
    margin-bottom: 10%;
}



