.essentials-parking-card-content{
    display: flex;
    flex-direction: column;
}

.arena-info-container{
    display: inline-flex
}
.parking-content{
    display: block;
    margin: auto;
}
.arena-maps-image{
    height: 30%;
    width: 30%;
}

.item-checklists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-checklists ul{
    list-style-image:none !important
}
.item-checklists li::before{

    content: '';   
    display: inline-block;   
    height: 50px;   
    width: 50px;    
    background-size: 50px;   
    background-image: url('../../assets/frontpage/shell.svg');   
    background-repeat: no-repeat;   
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}
.learning-tracks-container{
    height: 100%
}
.track-overview{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.track-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.track-details ul{
    list-style-type: none !important;
}
.track-details li::before{

        content: '';   
        display: inline-block;   
        height: 50px;   
        width: 50px;    
        background-size: 50px;   
        background-image: url('../../assets/frontpage/shell.svg');   
        background-repeat: no-repeat;   
        margin-right: 10px;
        background-position: center center;
        vertical-align: middle;
}

.essentials-holder-circle{
    width:40%;
    height:40%
}

.track-software{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.software-button{
    border: none;
    outline-style: none;
    border-radius:10px;
    padding: 11px;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    background-color: #50BCBF;
    color: white;
    font-weight: 700;
    margin-bottom: 2%
}