.application-input {
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline-style: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
    max-width: 335px;
    margin: 5px;
}