.field {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline-style: none;
    padding: 10px;
    background-color: white !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: black;
    font-weight: 500;
    max-width: 555px;
}

.field-div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.field::placeholder {
    color: #c4baa2;
    font-weight: 500;
}

.auth-submit-button {
    border: none;
    outline-style: none;
    border-radius: 30px;
    padding: 11px;
    width: 50%;
    background-color: #665B50;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: white;
    font-weight: 700;
    max-width: 250px;
}

.auth-submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


/*----------------------- CONTENTS STYLES --------------------------*/

.auth-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.auth-reg-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: 750px;
    min-width: 300px;
    background-color: rgba(206, 188, 143, 0.4);
    border-radius: 30px;
    overflow: hidden;
    z-index: 8;
}

.auth-logo-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, red, blue); */
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: (rgba(128, 128, 128, 0.5));
    height: 100%;
    justify-content: center;
    align-items: center;
}

#signup-half-button {
    border: none;
    outline-style: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 11px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    background-color: #665B50;
    color: white;
    font-weight: 700;
}

#login-half-button {
    border: none;
    outline-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 11px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    background-color: #665B50;
    color: white;
    font-weight: 700;
}

.auth-switch-button-container {
    margin-top: 10%;
    width: 65%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    max-width: 335px;
}

.switch-button-selected {
    background-color: var(--shell-light-brown);
}

.auth-forms {
    width: 82%;
}

.auth-logo {
    width: 80%;
}

#auth-mobile-logo {
    display: none;
}

.welcome-message {
    text-align: center;
    padding: 0 10%;
}


/* SUCCESS */

.success-container {
    position: absolute;
    background: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.success-modal {
    width: 60%;
    height: 100%;
    max-width: 750px;
    min-width: 400px;
    max-height: 400px;
    background-color: rgba(206, 188, 143, 0.4);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1024px) {
    .auth-container {
        height: 100vh;
        width: 100vw;
    }
    .auth-reg-container {
        display: flex;
        flex-direction: column;
        background: none !important;
        width: 100%;
        height: 100%;
    }
    .auth-form-container {
        height: 100%;
        width: 100%;
    }
    .auth-logo-container {
        display: none;
        background: none;
    }
    #auth-mobile-logo {
        display: flex;
    }
    .auth-logo {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}